.ropeproject/
*.db
*.pyc
*.swp
*.project
*.settings
*.pydevproject
.nfs*
.idea*
.ropeproject
.coverage
build/
feedme-*.tar.gz

collected_static
sqlite/
local.py
uploaded_media/*
*.coverage
.sass-cache/
.bundle
*.log
*.swn
*.swm
*~
.DS_Store
*.egg
*.egg-info
.installed.cfg
.mr.developer.cfg
*.swo
filedump
_tmp
local.py
dist/
.cache
.tox
coverage*

# online ordering system virtualenv @ sklirg
onlineorder/

bower_components/
*.min.js
