{% extends "base_pizzasystem.html" %}

{% block content %}
<script>
    var username = "{{ user.username }}";
</script>

<form action="" method="post">
    {% csrf_token %}
   <fieldset>
        <legend>{{ form.name|title }}</legend>
        {% for field in form %}
            <div class="fieldWrapper">
                <label>{{ field.label_tag }}</label>
                <div class="input">{{ field }}</div>
                <div class="error">{{ field.errors }}</div>
        {% endfor %}

            </div>
    </fieldset>
    <!--<a target="_blank" href="{{ form.order.restaurant.menu_url }}"><btn class="btn">Meny</btn></a>--> <input type="submit" class="btn btn-primary" value="Save" />
{% endblock content %}
