{% extends 'base.html' %}

{% block title %}
Feedme in React.js
{% endblock title %}

{% block styles %}
{{ block.super }}
{% endblock styles %}

{% block content %}
    <section>
      <div class="container">
        {% for group in groups %}
        <div class="col-md-4">
          <div class="well">
            <h3><a href="{% url 'feedmereact:react_order' group %}">Feedme:{{ group }}</a></h3>
          </div>
        </div>
        {% empty %}
        <div class="col-md-12">
          <h3>You have no active feedme-groups.</h3>
        </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}