<nav class="subnavbar">
    <div class="container">
        <ul id="feedme-admin">
            <li class="top-menu-link {% if active == 'feedme_index' %} active{% endif %}">
                <a href="{% url "feedme_index" %}">
                    Feedme
                </a>
            </li>
            <li class="top-menu-link {% if active == 'new order' %} active{% endif %}">
                <a href="{% url "new_order" %}">
                    New order
                </a>
            </li>
            <li class="top-menu-link {% if active == 'orders' %} active{% endif %}">
                <a href="{% url "manage_order" %}">
                    Manage orders
                </a>
            </li>
            <li class="top-menu-link {% if active == 'users' %} active{% endif %}">
                <a href="{% url "manage_users" %}">
                    Manage users
                </a>
            </li>
            <li class="top-menu-link {% if active == 'order limit' %} active{% endif %}">
                <a href="{% url "set_order_limit" %}">
                    Order limit
                </a>
            </li>
            <li class="top-menu-link {% if active == 'new restaurant' %} active{% endif %}">
                <a href="{% url "new_restaurant" %}">
                    New restaurant
                </a>
            </li>
            <li class="top-menu-link {% if active == 'new poll' %} active{% endif %}">
                <a href="{% url "new_poll" %}">
                    New poll
                </a>
            </li>
        </ul>
    </div>
</nav>
