{% extends "base.html" %}

{% block content %}
<script>
    var username = "{{ user.username }}";
</script>

<form action="" method="post">
    {% csrf_token %}
   <fieldset>
        <legend>{{ form.name|title }}</legend>
        {% for field in form %}
            <div class="fieldWrapper">
                <label>{{ field.label_tag }}</label>
                <div class="input">{{ field }}</div>
                <div class="error">{{ field.errors }}</div>
        {% endfor %}

            </div>
    </fieldset>
{% endblock content %}
