<section name="poll">
    <div class="col-md-12">
        <h1 class="page-header">{{ poll.question }}</h1>
    </div>
    <div class="col-md-12">
    {% if answer %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="act" value="vote" hidden>
            {% for field in answer %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Vote" class="btn btn-primary btn-sm">
        </form>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if poll.get_result %}
                {% include 'chart.html' %}
            {% endif %}
        </div>
    </div>
</section>
