<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pizzasystem</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="torri og kradde">

    <!-- Le styles -->

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

</head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Pizzasystem</a>
            <ul class="nav pull-right">
              <li><a href="#">Bruker: {{ user.username }}</a></li>
              <li><a href="#">Saldo: {{ user.saldo_set.get.saldo }}</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container">
       {% block content %}
       {% endblock%}
    </div>   
    </div>
    </body>

</html>

