{% if order %}
    <h1>Pizzabestilling</h1>
    <h4>{{ order.date }}</h4>
    <table border ="1">
    <tr>
        <th>Pizza</th>
        <th>Brus</th>
        <th>Hvitløksdressing</th>
        <th>Bestiller</th>
        <th>PizzaBuddy</th>
    </tr>
    {% for pizza in order.pizza_set.all %}
        <tr>
            <td>{{ pizza.pizza }}</td>
            <td>{{ pizza.soda }}</td>
            <td>{{ pizza.dressing }}</td>
            <td>{{ pizza.user.username }}</td>
            <td>{{ pizza.buddy.username }}</td>
            {% if user == pizza.user or user == pizza.buddy %}
                <td><a href="{{ pizza.get_absolute_url }}"><button>edit</button></a></td>
                <td><a href=/pizza/delete/{{pizza.id}}><button>delete</button></a></td>
            {% endif %}
         </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No orders available.</p>
{% endif %}
<a href="/pizza/pizzaview/">Ny pizza</a>
