{% extends "base.html" %}

{% block content %}
{% if order %}
    <h4>{{ order.date }}</h4>
    <table class="table table-striped table-bordered">
    <tr>
        <th>Pizza</th>
        <th>Brus</th>
        <th>Hvitløksdressing</th>
        <th>Bestiller</th>
        <th>PizzaBuddy</th>
        <th></th>
    </tr>
    {% for pizza in order.pizza_set.all %}
        <tr>
            <td>{{ pizza.pizza }}</td>
            <td>{{ pizza.soda }}</td>
            <td>{{ pizza.dressing }}</td>
            <td>{{ pizza.user.username }}</td>
            <td>{{ pizza.buddy.username }}</td>
            {% if user == pizza.user or user == pizza.buddy %}
                <td><a href="{{ pizza.get_absolute_url }}"><button class="btn btn-primary">edit</button></a>
                <a href=/pizza/delete/{{pizza.id}}><button class="btn btn-danger">delete</button></a></td>
            {% endif %}
         </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No orders available.</p>
{% endif %}
    {% if user not in free_users  %}  
    <a href="/pizza/pizzaview/">Ny pizza</a>
    {% endif %}   
{% endblock content %}
