{% extends "base.html" %}

{% block content %}
<form action="" method="post">
   {% csrf_token %}
   <fieldset>
        <legend>Pizza</legend>
        {% for field in form %}
            <div class="fieldWrapper">
                <label>{{ field.label_tag }}</label>
                <div class="input">{{ field }}</div>
                <div class="error">{{ field.errors }}</div>
        {% endfor %}
        <a href="https://www.pizzabakeren.no/pizzameny">Meny</a>
            </div>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save" />
{% endblock content %}

