
<html>
    <head>
    </head>
    <body>
        Bestiller: {{request.user.username}}<br>
        Pizza: <input type="number", name="pizza", value={{pizza.pizza}}><br>
        Brus: <input type="text", name="soda", value={{pizza.soda}}><br>
        Hvitøksdressing: <input type="checkbox", name="dressing", checked><br>
    {% if order.pizza_users %}
        Buddy: 
        <select>
        {% for buddy in order.pizza_users %}
           <option value={{buddy}}> {{buddy.username}}</option>
        {% endfor %}
        </select>
    {% endif %}
    </body>
</html>
         


